<table id="identifiers-table">
    <tr>
        <td class="label">ID</td>
        <td class="id">{{ .Result.ID }}</td>
    </tr>
    <tr>
        <td class="label">Created</td>
        <td>{{ .Result.Created | autoFormat }}</td>
    </tr>
    <tr>
        <td class="label">Last Updated</td>
        <td>{{ .Result.LastUpdated | autoFormat }}</td>
    </tr>
</table>

<div id="controls">
    <button class="inverted" onclick="saveEntity({{ .EntityName }}, {{ .Result.ID }})">
        <i class="far fa-save"></i> Save
    </button>
    <span id="save-result"></span>
</div>

<div id="result-json">
    <pre><code id="entity-json" contenteditable="true">{{ .Result | prettyPrint }}</code></pre>
</div>

<div id="save-error-message"></div>