 {{ $results := .Results }} {{ $fields := .Fields }} {{ $entity := .EntityName }}


<div class="number-of-results">
    Showing
    <span class="number"> {{ .NoResults }}</span> results
    <button class="icon" onclick="fill('/{{ $entity }}/new', 'detail-view')">
        <i class="fas fa-plus-circle"></i>
    </button>
</div>

<table class="entity-table">
    <thead>
        <tr>
            {{ range $fields }}
            <th>{{ . }}</th>
            {{end}}
        </tr>
    </thead>
    <tbody>
        {{ range $results }}
        <!-- spacer -->
        {{ $thisResult := mapFields . }}
        <!-- spacer -->
        {{ $id := index $thisResult "ID" }}
        <tr id="{{ $id }}" class="record" onclick="fill('/{{ $entity }}/{{ $id }}', 'detail-view')">
            {{ range $fields }}
            <td>{{ index $thisResult . | autoFormat }}</td>
            {{end}}
        </tr>
        {{ end }}
    </tbody>
</table>