<div class="section-header" onclick="toggleQueryForm()">
    <i class="fas fa-chevron-circle-down"></i> Query
</div>

<form id="query-form" style="display:none;">

    <div class="fields">
        <label for="from">From</label>
        <input type="date" id="from" name="from" />

        <label for="to">To</label>
        <input type="date" id="to" name="to" />
    </div>

    <div class="fields">
        <label for="limit">Limit</label>
        <input type="number" id="limit" name="limit" />

        <label for="offset">Offset</label>
        <input type="number" id="offset" name="offset" />
    </div>

    <div class="fields">
        <label for="index">Index</label>
        <select name="index">
            <option value="">Non Index Search</option>
            {{ range .Fields }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>

        <label for="match">Match</label>
        <input onkeyup="toggleStartEnd()" id="match" name="match" />

        <div id="start-end" class="fields">
            <label for="start">Start</label>
            <input id="start" name="start" />

            <label for="end">End</label>
            <input id="end" name="end" />
        </div>
    </div>

    <div class="fields">
        <input type="checkbox" id="reverse" name="reverse" checked />
        <label for="reverse">Reverse</label>
    </div>

    <button type="button" onclick="runQuery('{{ .EntityName }}')">Run
        <i class="fas fa-arrow-right"></i>
    </button>
</form>