:root {
    --main-bg-color: rgba(23, 51, 78, 0.05);
    --dark-bg-color: rgba(23, 51, 78, 0.8);
    --inverted-bg-color: rgba(255,255,255, 0.87);
    --accent-color: rgb(7, 63, 128);
    --main-text-color: rgba(0,0,0,0.87);
    --disabled-text-color: rgba(0,0,0,0.30);
    --inverted-text-color: var(--inverted-bg-color);
    --color-success: rgb(32, 172, 32);
    --color-warning: rgb(184, 37, 37);
    --color-success-inverted: rgb(124, 238, 124);
    --color-warning-inverted: rgb(253, 93, 93);

    --space: 10px;
    --font-size: 14px;
    --main-font: 'Roboto', sans-serif;
    --data-font: 'Roboto Mono', monospace;
    --rounded-corners: 2px;
    --box-shadow: 0px 0px 8px rgba(0,0,0,0.20);
    --border: 1px solid rgba(0,0,0,0.05);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--main-bg-color);
    font-weight: 400;
}

button {
    background-color: var(--accent-color);
    color: var(--inverted-text-color);
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    font-size: 1.1em;
    border-radius: var(--rounded-corners);
    cursor: pointer;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

button.inverted {
    background-color: var(--inverted-bg-color);
    color: var(--main-text-color);
}

button.icon {
    background-color: inherit;
    color: var(--main-text-color);
    padding: 5px 5px;
}

button:focus {
    outline: 0px solid transparent;
}

/* Sidebar */

#sidebar {
    width: 200px;
    padding: var(--space);
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg-color);
    color: var(--inverted-text-color);
    overflow-y: scroll;
}

/* Sidebar - Logo Area */

#sidebar #logo-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar #logo-area h1 {
    font-size: 2em;
}

/* Sidebar - Entity List */

#sidebar ul#entity-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar ul#entity-list li.entity-link {
    text-transform: uppercase;
    font-size: 1.2em;
    margin: var(--space);
    cursor: pointer;
}

#sidebar ul#entity-list li.entity-link i {
    margin-right: var(--space);
}

/* Content Area */

#main-content {
    flex: 1;
    padding: var(--space);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Content Area - Placeholder */

#content-placeholder {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: var(--disabled-text-color);
    font-size: 3em;
    box-sizing: border-box;
}

/* Data Table */

#list-view {
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.number-of-results {
    margin-bottom: var(--space);
    width: 100%;
}

.number-of-results span.number {
    font-weight: 700;
}

.entity-table {
    font-family: var(--data-font);
    font-size: 0.9em;
    width: fit-content;
    /* Give the scrollbar a bit of breathing space */
    min-width:  calc(100% - 10px);
    border-collapse: collapse;
    border: var(--border);
}

.entity-table thead {
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: lowercase;
    border-bottom: var(--border);
    background-color: var(--main-bg-color);
}

.entity-table .record {
    border-bottom: var(--border);
    background-color: white;
    cursor: pointer;
}

.entity-table .record:hover {
    background-color: var(--main-bg-color);
}

.entity-table td,
.entity-table th {
    padding: var(--space);
    white-space: nowrap;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: var(--border);
}

.entity-table td:last-child,
.entity-table th:last-child {
    padding: var(--space);
    white-space: nowrap;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: none;
}

.entity-table tbody .record td:first-child {
    font-weight: 700;
}

/* Detail View */

#detail-view {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space);
}

#detail-view #identifiers-table{
    font-family: var(--data-font);
    font-size: 0.9em;
    width: 100%;
    border-collapse: collapse;
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--space);
    background-color: white;
    border-radius: var(--rounded-corners);
}

#detail-view #identifiers-table td {
    padding: 3px;
    border-right: var(--border);
}

#detail-view #identifiers-table tr {
    border-bottom: var(--border);
}

#detail-view #identifiers-table .label{
    font-weight: 700;
    background-color: var(--main-bg-color);   
}

#detail-view #identifiers-table .id{
    font-weight: 700;
}

#detail-view #controls{
    margin-bottom: var(--space);
}

#detail-view #controls button{
    margin-right: var(--space);
}

#detail-view #controls button:last-child{
    margin-right: 0;
}

#detail-view #result-json pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#detail-view #result-json {
    background-color: rgba(0,0,0,0.77);
    color: var(--inverted-text-color);
    padding: var(--space);
    border-radius: var(--rounded-corners);
}

#detail-view #save-result.success{
    font-weight: 700;
    color: var(--color-success);
}

#detail-view #save-result.fail{
    font-weight: 700;
    color: var(--color-warning);
}

#detail-view #save-error-message{
    margin-top: var(--space);
    font-weight: 700;
    color: var(--color-warning);
}